body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: red;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
}
.divRightCorner {
  position: absolute;
  right: 0px;
  top: 0px;
}
.divLeftCorner {
  position: absolute;
  left: 0px;
  top: 0px;
}
.divBottom {
  position: absolute;
  bottom: 0px;
  width: 99%;
}
.divTop {
  position: absolute;
  top: 0px;
  width: 99%;
}
p {
  color: white;
}
.divBox {
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}
h2 {
  text-align: center;
  color: cyan;
  font-family: Arial;
  font-size: 30px;
}
h3 {
  text-align: center;
  color: lightgreen;
  font-family: Arial;
  font-size: 20px;
}
.imgStyle1 {
  position: absolute;
}
.imgStyle2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgIcon {
  width: 50px;
  height: 50px;
  position: absolute;
}